
/**/

body {
    font-family: 'Inter', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 400px;
}

.navbar {
    background-color: rgb(219, 219, 219);
    width: 100%;
    text-align: center;
    position: fixed;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    overflow: auto;
}

.navbar a{
    color: rgb(71, 76, 80);
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    margin-top: 15px;
}

footer {
    background-color: #F3B95F;
    color:#FDE767;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.intro {
    position: static;
    font-size: 25px;
    margin-left: 15px;
    font-weight: 500;
    padding-right: 250px;
}

.nombre {
    font-size: 25px;
    font-weight: 400;
    padding-right: 60px;
}

