
/**/

.navbar {
    background-color: rgb(219, 219, 219);
    width: 100%;
    text-align: center;
    position: fixed;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    overflow: auto;
}

.navbar a{
    color: rgb(71, 76, 80);
}

